<div class="login-container">
  <!-- Mitad izquierda/formulario -->
  <div class="login-left">
    <img [src]="logoPath" alt="Logo refaccionaria" class="logo" />

    <h2 class="login-title">Login</h2>
    <p class="login-description">
      Para ingresar necesita el usuario y la contraseña que el administrador o el empleador le ha
      proporcionado
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="username" class="input-label">Usuario</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Ingresa tu usuario"
        class="input-field"
      />
      @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
      <div class="error">El usuario es requerido</div>
      }
      <label for="password" class="input-label">Contraseña</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Ingresa tu contraseña"
        class="input-field"
      />
      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
      <div class="error">La contraseña es requerida</div>
      }

      <button class="button-login" type="submit" [disabled]="loading()">
        @if (loading()) { Ingresando... } @else { Ingresar }
      </button>
    </form>

    @if (errorMessage()) {
    <div class="error-message">{{ errorMessage() }}</div>
    }
  </div>

  <!-- Mitad derecha/imágen -->
  <div class="login-right">
    <img [src]="backgroundImagePath" alt="login-img" class="login-img" />
  </div>
</div>
